extends template.pug

block content
	h2 Register/Login

	div.group
		input#name-fido2(placeholder="Username")
		button#register-fido2 Register
		button#authenticate-fido2 Login

	h3 Push Authentication
	div.group
		input#name-push(placeholder="Username")
		input#code-push(placeholder="Code")
		button#button-push Authenticate

	h3 Add Credential
	div.group
		input#name-add(placeholder="Username")
		input#code-add(placeholder="Code")
		button#button-add Authenticate

	a.link(href="/codes") Generate Code

	script(src="/registerLoginExample.js")
