html(lang="env")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, inital-scale=1")
		meta(name="author" content="LoginID")
		link(rel="stylesheet" href="index.css")
	body
		div
			h2 Fido2
			label Name
			input#name-fido2
			button#register-fido2 Register FIDO2
			button#authenticate-fido2 Login FIDO2

		div
			h2 Password
			label Name
			input#name-password
			input#password
			input#password-confirm
			button#register-password Register Password
			button#authenticate-password Login Password

		div
			h2 Transaction Confirmation
			span#tx-id(class="copy")
			label Transaction Payload
			input#tx-payload 
			button#tx-create Create Transaction ID
			button#tx-create-confirm Create and Confirm Transaction
			button#authenticate-fido2 Login FIDO2

		div
			h2 Credential Management
			span#code(class="copy")
			label Code Type
			select#code-type
				option(value="short") short
				option(value="long") long
				option(value="phrase") phrase
			label Code Purpose
			select#code-purpose
				option(value="add_credential") add_credential
				option(value="temporary_authentication") temporary_authentication
			label Code Authorize
			select#code-authorize
				option(value="no") no
				option(value="yes") yes
		script(src="index.js")
